{% extends "base.html.twig" %}

{% block contenue %}
    
     <div id="container" class="opacity">
         
         <center><h1>Actualité Etudiant </h1> </center>
         
         
           </div>
     
    {% endblock %}